body {
    color: white;
}

h2 {
    color: orangered;
    text-align: center;
}

p {
    background-color: orangered;
    color: white;
    padding: 15px;
    margin: 0 30px 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    text-align: center;
}

body>img {
    width: 106%;
    height: auto;
    margin: -10px -10px 6px;
}

div>img {
    display: inline-block;
    width: 100px;
}

div {
    text-align: center;
}

#berekenen {
    position: fixed;
    bottom: 4%;
    right: 3%;
    text-align: center;
    line-height: 60px;
    background-color: orangered;
    color: white;
    height: 60px;
    width: 45%;
    font-size: 20px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#beker {
    position: fixed;
    bottom: 4%;
    left: 3%;
    text-align: center;
    line-height: 56px;
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
    box-sizing: border-box;
    height: 60px;
    width: 45%;
    font-size: 20px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}